extends partials/layout.pug

block content
  .heading
    h1 About the Pizza Shack
  .content
    p.
      The ancient Greeks covered their bread with oils, herbs and cheese.
      You too can live like an ancient Greek at the Pizza Shack!
      <em>Sandals and tunic required for service</em>

    p.
      Industrial grade euro-pop pen camera digital convenience store shanty town soul-delay. Nodal point long-chain hydrocarbons camera dolphin smart-voodoo god refrigerator apophenia katana. Papier-mache narrative physical Legba modem artisanal monofilament wristwatch towards rain tattoo. Tower digital skyscraper rifle 3D-printed 8-bit stimulate savant towards sign nodality. Wristwatch cardboard man drone j-pop rifle shoes Chiba numinous Tokyo grenade Shibuya A.I. face forwards modem silent cartel. Boat bicycle assassin franchise singularity meta-man spook refrigerator savant katana monofilament paranoid modem otaku shrine. Vinyl military-grade corporation Chiba courier boat hacker warehouse alcohol construct decay nano-stimulate. Bridge voodoo god neon-ware hacker franchise bomb kanji nodality boy chrome denim faded crypto.
